body {
    font-family: 'Inter', sans-serif;
    background-color: rgb(7, 22, 39);
    color: rgb(243, 243, 246);
    display: flex;
    justify-content: center;
    padding: 2rem;
}

/* GRID layout for kortene */
main {
    max-width: 1200px; /* større så du får plass til 4 */
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

div.background1 {
    border: 1px solid #243242;
    padding: 2rem;
    border-radius: 12px;
}

.bordercolor {
    border: 1px solid #243242;
}

.bordershadow { 
    box-shadow: 0 0 10px rgb(5, 14, 22);
    background-color: rgb(15, 33, 51);
    padding: 1.5rem;
    border-radius: 12px;
}

.morkboks {
    background-color: rgb(7, 22, 39);
    padding: 1rem;
    height:fit-content;
    border-radius: 12px;
}

.lysereboks {
    background-color: rgb(15, 33, 51);
    border: 1px solid #243242;
    color:#ffffff;
    padding: 1rem;
    border-radius: 8px;
}

#percentResult {
    margin-left: 15px;
    color:#ffffff
}

.percentResult {
    background: rgb(15, 33, 51);
    padding: 1px;
    border-radius: 12px;
}

/* Knappestil */
button {
    background: #0df2d7;
    border: 0px solid rgb(242, 105, 13);
    padding-top: 10px;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    cursor: pointer;
    transition: border 0.2s, box-shadow 0.2s, background 0.2s;
}

button:hover {
    background: #9efaef;
}

button.vanligknapp {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/* Inputfelter */
input[type="number"],
input[type="date"],
input[type="text"] {
    padding: 1rem 1rem;
    margin: 0rem; /* legger litt space på alle sider */
    border: 1px solid #243242;
    border-radius: 8px;
    font-size: 1rem;
    width: 150px;
    background-color: rgb(15, 33, 51);
    color:#ffffff
}



input[type="number"]:hover,
input[type="date"]:hover,
input[type="text"]:hover {
    border-color: #ffff;
}



input:focus {
    border-color: #ffff;
    outline: none;
}

/* Overskrifter */
h1 {
    text-align: center;
    font-weight: 600;
    margin-bottom: 2rem;
    margin-right: 40px;
    grid-column: 1 / -1;
}

h2 {
    font-weight: 600;
    margin-bottom: 1rem;
}

/* Responsivt */
@media (max-width: 600px) {
    input[type="number"],
    input[type="date"],
    input[type="text"] {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    div {
        padding: 1rem;
    }
}

/* Kalkulator-stil */
#calcDisplay {
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    text-align: right;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 8px;
    background: #071627; /* int */
    color: #00f597; /* int */
}

.calc-buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 3px;
    background: #071627;
    border: 1px solid #243242;
    padding: 1rem;
    border-radius: 12px;
}

.calc-btn {
    padding: 15px;
    font-size: 1.1rem;
    border-radius: 8px;
    border: none;
    background: rgb(15, 33, 51);
    cursor: pointer;
    transition: background 0.2s;
    color:#ffffff
}

.calc-btn:hover {
    background: #003c42;
}

.operator {
    background: rgb(15, 33, 51);
    border: 1px solid #0df2d7;
}

.operator:hover {
    outline: 2px solid #0df2d7;
    outline-offset: -2px;
    background: rgb(15, 33, 51);
}

.equal {
    grid-column: span 4;
    background: #0df2d7;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.equal:hover {
    background: #9efaef;
}

.converter {
    display: grid;
    gap: 10px;
    margin-bottom: 1rem;
}

#result {
    font-size: 1.2rem;
    margin-top: 1rem;

}

.resultbtn {
    color:#ff00bf
}

.valutaboks {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-inline-end: 20px;
    border: 1px solid #243242;
    border-radius: 8px;
    font-size: 1rem;
    width: 150px;
    background-color: rgb(15, 33, 51);
    color:#ffffff
}

#analogClock {
  display: block;
  max-width: 280px;
  width: 100%;
  height: auto;
  margin: 8px 0 4px;
}
